################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Unity.Sandbox/v15
/Packages/manifest.json
/obj/Debug
/Temp
